$paragraph-margin-bottom: 0px;
$alert-border-radius: 0px;

$table-striped-bg: rgba(245, 245, 245, 0.9);

$positions: (static, relative, absolute, fixed, sticky);
$z-index: (1, 2, 3);

$primary: #1fb8f5;
