{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Accueil
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
{% endblock %}

{% block body %}
	<div class="row justify-content-center align-content-between mt-4 mb-4 px-2" id="tricksContainer">
		{% for trick in tricks %}
			<div class="col-lg-2 card m-2 p-0">
				{% include "parts/_trick_card.html.twig" with { trick } %}
			</div>
		{% else %}
			
		{% endfor %}
	</div>

	<div class="row justify-content-center align-content-between w-100">
		<div class="col-lg-2 mb-4">
			<button type="button" class="btn btn-secondary d-block m-auto my-1" data-controller="load-more" to-load="{{ ADDITIONAL_TRICKS_DISPLAYED }}" route="app_trick_load_more" target="#tricksContainer" id="load_more" threshold="15" threshold-target="#back_to_top">Charger plus</button>
			<script>
				$(document).ready(function() {
					$("#load_more").click();
				});
			</script>
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="row justify-content-center align-content-between">
			<div class="col-lg-6">
				<div class="alert mb-3 alert-success text-center" data-controller="scroll-onload" id="successMessage">{{ message|nl2br }}</div>
			</div>
		</div>
	{% endfor %}

	<a href="#top" id="back_to_top" class="position-absolute bottom-0 end-0 btn btn-secondary m-md-4 m-2 d-none">
		<i class="fas fa-chevron-up"></i>
	</a>

	{% include "parts/_delete_modal.html.twig" %}
{% endblock %}
