.video_wrapper {
	position: relative;
	padding-bottom: 56.25%;

	iframe {
		position: absolute;

		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}
}

.overlay-play {
	position: relative;

	cursor: pointer;

	div.icon {
		position: absolute;

		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);

		height: 25%;
		aspect-ratio: 1 / 1;

		i {
			position: absolute;

			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);

			width: 100%;
			height: 100%;

			&::before {
				position: absolute;

				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);

				font-size: 250%;
			}
		}
	}

	div.button {
		position: absolute;

		right: 0;
		bottom: 0;

		i {
			margin-right: 8px;
			margin-bottom: 8px;
		}
	}
}

.modal-container {
	display: none;
}

.a-r-16-9 {
	aspect-ratio: 16 / 9;
}