{% extends 'email.html.twig' %}

{% block title %}{{ subject }}{% endblock %}

{% block email %}
	<h2>Pour modifier votre mot de passe cliquez sur le lien ci-dessous ou copiez-le dans votre navigateur internet : </h2>

	<a class="btn" href="{{ link }}" target="_blank">{{ link }}</a>
{% endblock %}