<div class="modal fade" id="trickDeleteModal" tabindex="-1" aria-labelledby="trickDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="trickDeleteModalLabel"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
				<a href="" id="trickDeleteModalButton" class="btn btn-danger">Supprimer</a>
			</div>
		</div>
	</div>
</div>
