<div class="modal modal-fullscreen fade" id="fullscreenMediaModal" tabindex="-1" aria-labelledby="fullscreenMediaModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="fullscreenMediaModalLabel">Lorem, ipsum dolor.</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
			</div>
			<div class="modal-body"></div>
		</div>
	</div>
</div>