<div class="modal modal-fullscreen fade" id="fullscreenMediaEditModal-{{ index }}" tabindex="-1" aria-labelledby="fullscreenMediaModalEditLabel-{{ index }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="fullscreenMediaModalEditLabel-{{ index }}">Lorem, ipsum dolor.</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
			</div>
			<div class="modal-body py-0 min-vw-50">
				{{ form_row(media, {
					'attr': {
						'class': "m-0"
					}
				}) }}
				<p class="form-text m-0 mb-3 help-text"><i class="fas fa-info-circle"></i> La suppression de ce média ne sera réellement effectuée qu'après-avoir sauvegardé le trick.</p>
				<p class="form-text m-0 mb-3 help-text"><i class="fas fa-info-circle"></i> Les modifications apportées à ce média ne prendront effet qu'après la sauvegarde du trick.</p>
			</div>
		</div>
	</div>
</div>
