<header class="d-flex flex-column justify-content-center align-content-center vh-100 bg-image" data-controller="bg-image" bg-image-url="{{ asset('images/background.jpg') }}">
	{% if app.request.get('_route') == 'app_home' %}
		<h1 class="text-center m-0 fw-bolder fs-0">Le snowboard à portée de tous !</h1>

		<a href="#top" class="position-absolute bottom-0 end-0 btn btn-secondary m-4">
			<i class="fas fa-chevron-down"></i>
		</a>
	{% endif %}
</header>
